<div class="candidate" *ngFor="let candidate of candidates | async">
  <div class="title">Hello {{candidate.name}}</div>
  <br>
  <div class="works">
    <div class="title">Works</div>
    <div class="work" *ngFor="let work of candidate.works">
      <div class="text">Worked as: {{work.title}}, From {{work.startDate}} To {{work.endDate}}</div>
      <div *ngIf="work.gapBetweenJobs">Gap between jobs: {{work.gapBetweenJobs}}</div>
    </div>
    <div *ngIf="!candidate.works.length">-</div>
  </div>
  <br>
  <br>
</div>
